.PolicePortal{
    background-image: url('../images/portal-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    text-align: center;
    padding: 8vh;
}

.formSection{
    margin-top: 30px;
}

.buttonSection button{
    margin: 10px;
    width: 150px;
}